.card-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgba(0, 0, 0, 1) 5%, rgba(255, 255, 255, 0) 60%);
    color: white;
    display: flex;
    align-items: end;
    justify-content: start;
    opacity: 1;
    transition: opacity 0.3s;
}

.card-top-picks {
    position: absolute;
    top: 0;
    right: 0;
    color: white;
    background-color: rgba(235, 28, 36, 255);
    display: flex;
    opacity: 1;
    z-index: 99;
    border-radius: 0 0 0 10px;
    transition: opacity 0.3s;
}

.item-list:hover {
    background-color: #2c2c2c;
    color: white;
}

.card-rating {
    position: absolute;
    top: 0;
    left: 0;
    color: white;
    display: flex;
    opacity: 1;
    z-index: 99;
    transition: opacity 0.3s;
}

.card:hover .card-rating,
.card:hover .card-overlay,
.card:hover .card-top-picks {
    opacity: 0;
}

.card-movie:hover {
    box-shadow: 0 4px 18px 0 rgba(235, 28, 36, 255);
}

.card-movie {
    max-height: 30em;
    height: 100%;
}

.card {
    position: relative;
    overflow: hidden;
}

.text-break {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

a {
    text-decoration: none;
    color: inherit;
}

.form-control.autocomplete {
    width: 100%;
}

form.d-flex {
    position: relative;
    min-width: 300px;
}

.suggestions-list {
    position: absolute;
    padding-top: 20px;
    top: 100%;
    left: 0;
    width: 100%;
    border: var(--bs-border-width) solid var(--bs-border-color);
    border-radius: 0 0 4px 4px;
    background-color: var(--bs-body-bg);
    list-style: none;
    margin: -10px 0 0 0;
    padding: 10px 0 0 0;
    border-top: 0px;
    z-index: -1;
}

.suggestions-list li {
    padding: 8px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.suggestions-list li:hover {
    background-color: #1a1a1a;
}

.suggestion-image {
    width: 50px;
    height: auto;
    margin-right: 10px;
}

.suggestion-title {
    display: block;
    text-align: left;
}

.header-detail {
    position: relative;
    height: 100vh;
}

.header-detail-overlay {
    position: absolute;
    z-index: 1;
    background: linear-gradient(0deg, rgba(13, 13, 15, 1) 0%, rgba(13, 13, 15, 0.7) 100%);
}

.header-detail-content {
    top: 0;
    right: 0;
    left: 0;
    overflow: hidden;
    z-index: 99;
    width: 100%;
    position: absolute;
}

.img-cast {
    border-radius: 100%;
    height: 80px;
    width: 80px;
    object-fit: cover;
}

.card-img {
    object-fit: cover;
}

.search-card-img {
    height: 80px;
    width: 80px;
    object-fit: fill;
    border-radius: 4px
}